
body {
    font-family: 'Verdana', sans-serif;
  }

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
   }
a:hover {border-bottom: 1px dotted red; color: red;}

/* #profPic {display:inline-block;margin-right:10px;}  */
#socialLinks {display:inline-block;} 
img {
    max-width: 100%;
    display: inline-block;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 95%;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;    
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 85%;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 1em;
        width: 700px;
        margin-left: auto;
        margin-right: auto;    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */