.lst-kix_qzhgwyw8lsy-3 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-3;
  }
  ul.lst-kix_dsga17u4svjk-7 {
    list-style-type: none;
  }
  ul.lst-kix_dsga17u4svjk-8 {
    list-style-type: none;
  }
  ul.lst-kix_dsga17u4svjk-5 {
    list-style-type: none;
  }
  ul.lst-kix_dsga17u4svjk-6 {
    list-style-type: none;
  }
  ul.lst-kix_dsga17u4svjk-3 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-7.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-7 0;
  }
  ul.lst-kix_dsga17u4svjk-4 {
    list-style-type: none;
  }
  ul.lst-kix_dsga17u4svjk-1 {
    list-style-type: none;
  }
  ul.lst-kix_dsga17u4svjk-2 {
    list-style-type: none;
  }
  ul.lst-kix_dsga17u4svjk-0 {
    list-style-type: none;
  }
  .lst-kix_8btyvvb1fbgr-7 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-7;
  }
  .lst-kix_qzhgwyw8lsy-4 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-4;
  }
  ol.lst-kix_qzhgwyw8lsy-6.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-6 0;
  }
  .lst-kix_8btyvvb1fbgr-6 > li:before {
    content: "(" counter(lst-ctn-kix_8btyvvb1fbgr-6, lower-roman) ") ";
  }
  .lst-kix_8btyvvb1fbgr-8 > li:before {
    content: "(" counter(lst-ctn-kix_8btyvvb1fbgr-8, lower-roman) ") ";
  }
  .lst-kix_46xuyw141lhr-7 > li:before {
    content: "\0025cb  ";
  }
  .lst-kix_46xuyw141lhr-8 > li:before {
    content: "\0025a0  ";
  }
  .lst-kix_8btyvvb1fbgr-7 > li:before {
    content: "(" counter(lst-ctn-kix_8btyvvb1fbgr-7, lower-latin) ") ";
  }
  ul.lst-kix_h6z7recntkj-3 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-4 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-5 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-6 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-0 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-1 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-2 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-7 {
    list-style-type: none;
  }
  ul.lst-kix_h6z7recntkj-8 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-2 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-3 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-4 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-5 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-6 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-7 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-8 {
    list-style-type: none;
  }
  .lst-kix_dsga17u4svjk-1 > li:before {
    content: "-  ";
  }
  .lst-kix_8btyvvb1fbgr-8 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-8;
  }
  .lst-kix_dsga17u4svjk-0 > li:before {
    content: "-  ";
  }
  .lst-kix_dsga17u4svjk-2 > li:before {
    content: "-  ";
  }
  .lst-kix_8btyvvb1fbgr-5 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-5;
  }
  .lst-kix_dsga17u4svjk-5 > li:before {
    content: "-  ";
  }
  ol.lst-kix_qzhgwyw8lsy-4.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-4 0;
  }
  .lst-kix_dsga17u4svjk-4 > li:before {
    content: "-  ";
  }
  .lst-kix_dsga17u4svjk-6 > li:before {
    content: "-  ";
  }
  .lst-kix_qzhgwyw8lsy-6 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-6;
  }
  .lst-kix_dsga17u4svjk-3 > li:before {
    content: "-  ";
  }
  .lst-kix_dsga17u4svjk-7 > li:before {
    content: "-  ";
  }
  ul.lst-kix_6sqq3asjrlwf-8 {
    list-style-type: none;
  }
  .lst-kix_qzhgwyw8lsy-0 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-0;
  }
  .lst-kix_h6z7recntkj-8 > li:before {
    content: "-  ";
  }
  ul.lst-kix_6sqq3asjrlwf-6 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-0 {
    list-style-type: none;
  }
  ul.lst-kix_6sqq3asjrlwf-7 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-1 {
    list-style-type: none;
  }
  ul.lst-kix_6sqq3asjrlwf-4 {
    list-style-type: none;
  }
  ul.lst-kix_6sqq3asjrlwf-5 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-5.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-5 0;
  }
  ul.lst-kix_6sqq3asjrlwf-2 {
    list-style-type: none;
  }
  ul.lst-kix_6sqq3asjrlwf-3 {
    list-style-type: none;
  }
  .lst-kix_h6z7recntkj-6 > li:before {
    content: "-  ";
  }
  ul.lst-kix_6sqq3asjrlwf-0 {
    list-style-type: none;
  }
  ul.lst-kix_6sqq3asjrlwf-1 {
    list-style-type: none;
  }
  .lst-kix_qzhgwyw8lsy-7 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-7;
  }
  .lst-kix_h6z7recntkj-3 > li:before {
    content: "-  ";
  }
  .lst-kix_h6z7recntkj-7 > li:before {
    content: "-  ";
  }
  .lst-kix_dsga17u4svjk-8 > li:before {
    content: "-  ";
  }
  .lst-kix_h6z7recntkj-4 > li:before {
    content: "-  ";
  }
  .lst-kix_qzhgwyw8lsy-1 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-1;
  }
  .lst-kix_h6z7recntkj-5 > li:before {
    content: "-  ";
  }
  .lst-kix_6sqq3asjrlwf-4 > li:before {
    content: "\0025cb  ";
  }
  ol.lst-kix_qzhgwyw8lsy-8 {
    list-style-type: none;
  }
  .lst-kix_h6z7recntkj-0 > li:before {
    content: "-  ";
  }
  .lst-kix_8btyvvb1fbgr-2 > li:before {
    content: "" counter(lst-ctn-kix_8btyvvb1fbgr-2, decimal) ". ";
  }
  .lst-kix_8btyvvb1fbgr-4 > li:before {
    content: "(" counter(lst-ctn-kix_8btyvvb1fbgr-4, decimal) ") ";
  }
  ol.lst-kix_qzhgwyw8lsy-7 {
    list-style-type: none;
  }
  ol.lst-kix_qzhgwyw8lsy-6 {
    list-style-type: none;
  }
  ol.lst-kix_qzhgwyw8lsy-5 {
    list-style-type: none;
  }
  .lst-kix_6sqq3asjrlwf-3 > li:before {
    content: "\0025cf  ";
  }
  ol.lst-kix_qzhgwyw8lsy-4 {
    list-style-type: none;
  }
  .lst-kix_8btyvvb1fbgr-1 > li:before {
    content: "" counter(lst-ctn-kix_8btyvvb1fbgr-1, upper-latin) ". ";
  }
  .lst-kix_8btyvvb1fbgr-5 > li:before {
    content: "(" counter(lst-ctn-kix_8btyvvb1fbgr-5, lower-latin) ") ";
  }
  ol.lst-kix_qzhgwyw8lsy-3 {
    list-style-type: none;
  }
  ol.lst-kix_qzhgwyw8lsy-2 {
    list-style-type: none;
  }
  ol.lst-kix_qzhgwyw8lsy-1 {
    list-style-type: none;
  }
  .lst-kix_6sqq3asjrlwf-0 > li:before {
    content: "\0025cf  ";
  }
  .lst-kix_6sqq3asjrlwf-2 > li:before {
    content: "\0025a0  ";
  }
  ol.lst-kix_qzhgwyw8lsy-0 {
    list-style-type: none;
  }
  .lst-kix_h6z7recntkj-2 > li:before {
    content: "-  ";
  }
  ol.lst-kix_qzhgwyw8lsy-3.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-3 0;
  }
  .lst-kix_6sqq3asjrlwf-1 > li:before {
    content: "\0025cb  ";
  }
  .lst-kix_h6z7recntkj-1 > li:before {
    content: "-  ";
  }
  .lst-kix_8btyvvb1fbgr-3 > li:before {
    content: "" counter(lst-ctn-kix_8btyvvb1fbgr-3, lower-latin) ") ";
  }
  .lst-kix_8btyvvb1fbgr-4 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-4;
  }
  .lst-kix_8btyvvb1fbgr-1 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-1;
  }
  ol.lst-kix_8btyvvb1fbgr-4.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-4 0;
  }
  .lst-kix_8btyvvb1fbgr-0 > li:before {
    content: "" counter(lst-ctn-kix_8btyvvb1fbgr-0, upper-roman) ". ";
  }
  .lst-kix_8btyvvb1fbgr-2 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-2;
  }
  ol.lst-kix_qzhgwyw8lsy-2.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-2 0;
  }
  .lst-kix_qzhgwyw8lsy-8 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-8, lower-roman) ". ";
  }
  ul.lst-kix_46xuyw141lhr-8 {
    list-style-type: none;
  }
  .lst-kix_qzhgwyw8lsy-6 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-6, decimal) ". ";
  }
  ul.lst-kix_46xuyw141lhr-7 {
    list-style-type: none;
  }
  ul.lst-kix_46xuyw141lhr-6 {
    list-style-type: none;
  }
  ol.lst-kix_8btyvvb1fbgr-0.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-0 0;
  }
  .lst-kix_qzhgwyw8lsy-5 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-5, lower-roman) ". ";
  }
  ul.lst-kix_46xuyw141lhr-5 {
    list-style-type: none;
  }
  ul.lst-kix_46xuyw141lhr-4 {
    list-style-type: none;
  }
  ul.lst-kix_46xuyw141lhr-3 {
    list-style-type: none;
  }
  ul.lst-kix_46xuyw141lhr-2 {
    list-style-type: none;
  }
  ul.lst-kix_46xuyw141lhr-1 {
    list-style-type: none;
  }
  .lst-kix_8btyvvb1fbgr-3 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-3;
  }
  ul.lst-kix_46xuyw141lhr-0 {
    list-style-type: none;
  }
  .lst-kix_qzhgwyw8lsy-7 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-7, lower-latin) ". ";
  }
  .lst-kix_6sqq3asjrlwf-5 > li:before {
    content: "\0025a0  ";
  }
  .lst-kix_qzhgwyw8lsy-0 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-0, decimal) ". ";
  }
  .lst-kix_6sqq3asjrlwf-6 > li:before {
    content: "\0025cf  ";
  }
  .lst-kix_qzhgwyw8lsy-2 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-2, lower-roman) ". ";
  }
  .lst-kix_qzhgwyw8lsy-1 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-1, lower-latin) ". ";
  }
  .lst-kix_6sqq3asjrlwf-7 > li:before {
    content: "\0025cb  ";
  }
  .lst-kix_qzhgwyw8lsy-4 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-4, lower-latin) ". ";
  }
  .lst-kix_6sqq3asjrlwf-8 > li:before {
    content: "\0025a0  ";
  }
  .lst-kix_qzhgwyw8lsy-3 > li:before {
    content: "" counter(lst-ctn-kix_qzhgwyw8lsy-3, decimal) ". ";
  }
  ol.lst-kix_8btyvvb1fbgr-3.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-3 0;
  }
  ol.lst-kix_8btyvvb1fbgr-6.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-6 0;
  }
  ol.lst-kix_qzhgwyw8lsy-8.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-8 0;
  }
  ol.lst-kix_qzhgwyw8lsy-5.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-5 0;
  }
  ol.lst-kix_8btyvvb1fbgr-2.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-2 0;
  }
  ol.lst-kix_qzhgwyw8lsy-7.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-7 0;
  }
  ol.lst-kix_qzhgwyw8lsy-1.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-1 0;
  }
  .lst-kix_8btyvvb1fbgr-0 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-0;
  }
  .lst-kix_46xuyw141lhr-5 > li:before {
    content: "\0025a0  ";
  }
  ol.lst-kix_8btyvvb1fbgr-8.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-8 0;
  }
  .lst-kix_8btyvvb1fbgr-6 > li {
    counter-increment: lst-ctn-kix_8btyvvb1fbgr-6;
  }
  .lst-kix_46xuyw141lhr-2 > li:before {
    content: "\0025a0  ";
  }
  .lst-kix_46xuyw141lhr-6 > li:before {
    content: "\0025cf  ";
  }
  .lst-kix_qzhgwyw8lsy-2 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-2;
  }
  .lst-kix_qzhgwyw8lsy-8 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-8;
  }
  .lst-kix_46xuyw141lhr-3 > li:before {
    content: "\0025cf  ";
  }
  li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
  }
  .lst-kix_46xuyw141lhr-4 > li:before {
    content: "\0025cb  ";
  }
  .lst-kix_qzhgwyw8lsy-5 > li {
    counter-increment: lst-ctn-kix_qzhgwyw8lsy-5;
  }
  .lst-kix_46xuyw141lhr-1 > li:before {
    content: "\0025cb  ";
  }
  ol.lst-kix_qzhgwyw8lsy-0.start {
    counter-reset: lst-ctn-kix_qzhgwyw8lsy-0 0;
  }
  .lst-kix_46xuyw141lhr-0 > li:before {
    content: "\0025cf  ";
  }
  ol.lst-kix_8btyvvb1fbgr-1.start {
    counter-reset: lst-ctn-kix_8btyvvb1fbgr-1 0;
  }
  ol {
    margin: 0;
    padding: 0;
  }
  table td,
  table th {
    padding: 0;
  }
  .c9 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #f3f3f3;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 74.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c37 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #f3f3f3;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 133.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c82 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 30.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c89 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 56.2pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c6 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 139.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c85 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 74.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c27 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 114pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c99 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 36pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c63 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 69pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c53 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 84pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c35 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 111.8pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c48 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 77.2pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c93 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 94.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c64 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c68 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 30.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c77 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 58.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c92 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 114pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c83 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #efefef;
    vertical-align: top;
    border-right-color: #efefef;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 75.2pt;
    border-top-color: #efefef;
    border-bottom-style: solid;
  }
  .c4 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 100.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c16 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 114pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c54 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 111.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c105 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 111.8pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c111 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 77.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c69 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #efefef;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 36pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c112 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 94.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c108 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 133.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c66 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 74.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c58 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 84pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c110 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 56.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c106 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c32 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 69pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c104 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 94.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c62 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 93.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c44 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 83.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c33 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 139.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c79 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 100.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c71 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 111.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c80 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 75.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c76 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 75.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c45 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 133.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c97 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 100.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c3 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 56.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c100 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 139.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c101 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 69pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c86 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 83.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c90 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 114pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c67 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 133.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c94 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 83.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c59 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 69pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c96 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 94.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c30 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 94.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c47 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 77.2pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c88 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 94.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c56 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 84pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c95 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 103.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c34 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 75.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c102 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 94.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c60 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #efefef;
    vertical-align: top;
    border-right-color: #efefef;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 149.4pt;
    border-top-color: #efefef;
    border-bottom-style: solid;
  }
  .c19 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 58.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c81 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 133.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c103 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 103.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c70 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 139.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c91 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 77.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c61 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 36pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c55 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #efefef;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 168.6pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c23 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 93.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c78 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c40 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 103.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c36 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 56.2pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c75 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 58.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c28 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 36pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c109 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 100.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c87 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 93.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c65 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 58.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
  }
  .c107 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 30.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c73 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 93.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c13 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c49 {
    color: #980000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c22 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: italic;
  }
  .c21 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c1 {
    color: #980000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
  }
  .c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c12 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c51 {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: right;
  }
  .c50 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c11 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c25 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c31 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c57 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c74 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
  }
  .c17 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: right;
  }
  .c41 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
  }
  .c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: center;
  }
  .c0 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
  }
  .c46 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
  }
  .c20 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: center;
  }
  .c52 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
  }
  .c38 {
    orphans: 2;
    widows: 2;
    height: 11pt;
  }
  .c84 {
    width: 50%;
    margin: 0 auto;
  }
  .c15 {
    padding: 0;
    margin: 0;
  }
  .c18 {
    color: inherit;
    text-decoration: inherit;
  }
  .c42 {
    orphans: 2;
    widows: 2;
  }
  .c39 {
    height: 11pt;
  }
  .c7 {
    font-weight: 700;
  }
  .c72 {
    height: 21pt;
  }
  .c43 {
    background-color: #f3f3f3;
  }
  .c2 {
    height: 0pt;
  }
  .c98 {
    height: 29.7pt;
  }
  .c29 {
    font-style: italic;
  }
  .title {
    padding-top: 0pt;
    color: #000000;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .subtitle {
    padding-top: 0pt;
    color: #666666;
    padding-bottom: 16pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  li {
    color: #000000;
  }
  p {
    /* margin: 0; */
    color: #000000;

  }
  h1 {
    padding-top: 20pt;
    color: #000000;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h2 {
    padding-top: 18pt;
    color: #000000;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h3 {
    padding-top: 16pt;
    color: #000000;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h4 {
    padding-top: 14pt;
    color: #666666;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h5 {
    padding-top: 12pt;
    color: #666666;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h6 {
    padding-top: 12pt;
    color: #666666;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
  }